@using Lunch.Core.Jobs;
@using Lunch.Data
@using PagedList;
@using PagedList.Mvc;
@model PagedList<Lunch.Core.Models.JobLog>

@{
    ViewBag.Title = "Logs";
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Logs @* @Lunch.Core.Jobs.Helpers.AdjustTimeOffsetFromUtc(DateTime.UtcNow) @Lunch.Core.Jobs.Helpers.AdjustTimeOffsetToUtc(DateTime.Now)*@</h1>
            <div id="pagingWrap">
                @Html.PagedListPager( (IPagedList)Model, page => Url.Action("Index", new { page }) )
            </div>

            <div id="manageFormWrap" class="noPadding">

                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="column generic">Job ID: @Html.DisplayFor(modelItem => item.JobLogId)</div>
                        <div class="column generic">@Helpers.AdjustTimeOffsetFromUtc(item.CreatedAt)</div>
                        <div class="column generic">Category: @Html.DisplayFor(modelItem => item.Category)</div>
                        <div class="column generic">Message: @Html.DisplayFor(modelItem => item.Message)</div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>