@using Lunch.Core.Jobs
@model IEnumerable<Lunch.Core.Models.JobLog>

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogDTM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobID)
            </td>
            <td title="UTC: @item.LogDTM">
                @Helpers.AdjustTimeOffsetFromUtc(item.LogDTM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>

        </tr>
    }

</table>
