@model Lunch.Website.ViewModels.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Change Password</h1>
            @*<p>
                Use the form below to change your password. 
            </p>
            <p>
                New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
            </p>*@

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div id="manageFormWrap">

        <div class="formRowWrap">
            <div class="editorLabel">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editorField">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>

        <div class="formRowWrap">
            <div class="editorLabel">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editorField">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>

        <div class="formRowWrap">
            <div class="editorLabel">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editorField">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

    </div>
    
    <input type="submit" value="Change Password" class="btn submit" />
}
