@model Lunch.Core.Models.Views.ImportRestaurant

@if (Model.Restaurants == null || Model.Restaurants.Count == 0)
{
    <p>There are no known restaurants within the specified area.</p>
} else {
    <table class="table table-striped">
        <tbody>
                <tr>
                    <th colspan="2">
                        Restaurants
                    </th>
                    <th>
                        Specials Day
                    </th>
                    <th>
                        Restaurant Type
                    </th>
            </tr>
                
            @for (var i = 0; i < Model.Restaurants.Count; i++)
            {
                if (Model.Restaurants[i].AlreadyImported)
                {
                   <tr>
                        <td></td>
                        <td>
                            <span style="color: green;" title="Restaurant is already imported">@Model.Restaurants[i].RestaurantName</span>
                        </td>
                        <td>@Html.DropDownListFor(model => model.Restaurants[i].PreferredDayOfWeek, (SelectList)ViewBag.DaysOfWeek, "-- NONE --", new { disabled = "disabled" })</td>
                        <td>@Html.DropDownListFor(model => model.Restaurants[i].RestaurantTypeID, (SelectList)ViewBag.RestaurantTypes, "-- UNDEFINED --", new { disabled = "disabled" })</td>
                    </tr>   
                } else
                {
                    <tr>
                        <td>@Html.CheckBoxFor(model => model.Restaurants[i].Selected, new { Class = "IsSelected" })</td>
                        <td>
                            @Html.HiddenFor(model => model.Restaurants[i].RestaurantName, new {Class = "RestaurantName"})
                            @Model.Restaurants[i].RestaurantName
                        </td>
                        <td>@Html.DropDownListFor(model => model.Restaurants[i].PreferredDayOfWeek, (SelectList)ViewBag.DaysOfWeek, "-- NONE --", new { Class = "SpecialDay" })</td>
                        <td>@Html.DropDownListFor(model => model.Restaurants[i].RestaurantTypeID, (SelectList)ViewBag.RestaurantTypes, "-- UNDEFINED --", new { Class = "RestaurantType" })</td>
                    </tr>   
                }
            }

        </tbody>
    </table>
}