@using System.Globalization
@model Lunch.Website.ViewModels.UserEdit

@{
    ViewBag.Title = "Edit";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Edit</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
    
                <div id="manageFormWrap">

                    <div class="editorField">
                        @Html.EditorFor(model => model.Id)
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>

                    <div class="formRowWrap">
                        <div class="editorLabel">
                            @Html.LabelFor(model => model.FullName)
                        </div>
                        <div class="editorField">
                            @Html.EditorFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </div>

                    <div class="formRowWrap">
                        <div class="editorLabel">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editorField">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="row borderTop">
                        <div class="column indentLeft active">
                            <i class="icon-legal"></i>
                            @Html.EditorFor(model => model.Administrator)
                            @Html.ValidationMessageFor(model => model.Administrator)
                        </div>

                        <div class="column active">
                            <div class="mailLabel">
                                <i class="icon-envelope-alt"></i>
                            </div>

                            <div class="checkBox">
                                Vote:
                                @Html.EditorFor(model => model.SendMail1)
                                @Html.ValidationMessageFor(model => model.SendMail1)
                            </div>

                            <div class="checkBox">
                                Veto:
                                @Html.EditorFor(model => model.SendMail2)
                                @Html.ValidationMessageFor(model => model.SendMail2)
                            </div>

                            <div class="checkBox">
                                Result:
                                @Html.EditorFor(model => model.SendMail3)
                                @Html.ValidationMessageFor(model => model.SendMail3)
                            </div>

                            <div class="checkBox">
                                Rate:
                                @Html.EditorFor(model => model.SendMail4)
                                @Html.ValidationMessageFor(model => model.SendMail4)
                            </div>
                        </div>
                    </div>

                </div>
                
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn back" })
                <input type="submit" value="Save" class="btn submit" />
            }

        </div>
    </div>
</div>