@model IEnumerable<Lunch.Website.ViewModels.User>

@{
    ViewBag.Title = "Users";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Users</h1>

            <div class="btnToolbar">
                @Html.ActionLink("Create New", "Create", null, new {@class="btn submit"})
            </div>

            <div id="manageFormWrap">

                @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="column actionButton">
                                <a class="action" href="@Url.Action("Edit", new { ID = item.Id })"><i class="icon-pencil"></i></a>
                                <a class="action" href="@Url.Action("Delete", new { ID = item.Id })" role="button" data-toggle="modal"><i class="icon-trash"></i></a>
                            </div>

                            <div class="column userAdmin">
                                @if (item.Administrator == true) {
                                    <i class="icon-legal"></i>
                                } else {
                                    <i class="icon-user"></i>   
                                }
                            </div>

                            <div class="column userName">@Html.DisplayFor(modelItem => item.FullName)</div>
                            <div class="column userEmail">@Html.DisplayFor(modelItem => item.Email)</div>

                            <div class="column floatRight">
                                <div class="mailLabel"><i class="icon-envelope-alt"></i></div>
                                <div class="checkBox">
                                    Vote:
                                    @if (item.SendMail1 == true) {
                                        <i class="icon-ok"></i>
                                    } 
                                    else {
                                        <i class="icon-remove"></i>   
                                    }
                                </div>
                                <div class="checkBox">
                                    Veto: 
                                    @if (item.SendMail2 == true)
                                    {
                                        <i class="icon-ok"></i>
                                    } 
                                    else {
                                        <i class="icon-remove"></i>   
                                    }
                                </div>
                                <div class="checkBox">
                                    Result: 
                                    @if (item.SendMail3 == true)
                                    {
                                        <i class="icon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-remove"></i>
                                    }
                                </div>
                                <div class="checkBox">
                                    Rate: 
                                    @if (item.SendMail4 == true)
                                    {
                                        <i class="icon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-remove"></i>
                                    }
                                </div>
                            </div>
                        </div>
                    }

            </div>

        </div>
    </div>
</div>