@using Lunch.Core.Jobs
@model IEnumerable<Lunch.Core.Models.Job>

@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MethodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParametersJson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasRun)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MethodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParametersJson)
            </td>
            <td title="UTC: @item.RunDate">@Helpers.AdjustTimeOffsetFromUtc(item.RunDate)
            </td>
            <td title="UTC: @item.CreatedDate">
                @Helpers.AdjustTimeOffsetFromUtc(item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasRun)
            </td>
        </tr>
    }

</table>
