@using Lunch.Core.Jobs
@model IEnumerable<Lunch.Core.Models.Job>

@{
    ViewBag.Title = "Jobs";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Jobs</h1>

            <div>
            @foreach (var item in Model)
            {
                <div class="jobsReport">
                    <div class="checkBox">@Html.DisplayFor(modelItem => item.HasRun)</div>
                    <div class="jobName">@Html.DisplayFor(modelItem => item.MethodName)</div>
                    <div class="jobDetails">
                        <div class="runDate"><p title="UTC: @item.RunDate">Ran on @Helpers.AdjustTimeOffsetFromUtc(item.RunDate)</p></div>
                        <div class="createdDate"><p title="UTC: @item.CreatedDate">Created on @Helpers.AdjustTimeOffsetFromUtc(item.CreatedDate)</p></div>
                        <div class="json"><p>@Html.DisplayFor(modelItem => item.ParametersJson)</p></div>
                    </div>
                </div>
            }
            </div>

        </div>
    </div>
</div>