@using StackExchange.Profiling

@{
    ViewBag.Title = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>What's For Lunch?</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le Styles ====================================================== -->
    <link href="~/Resources/CSS/StyleSheet.css" type="text/css"  rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    
    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <!--<ul class="nav">
        <li><a href="#">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Restaurants", "Index", "Restaurants")</li>
                <li>@Html.ActionLink("Restaurant Import", "Index", "Management")</li>
                <li>@Html.ActionLink("Jobs", "Index", "Jobs")</li>
                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                <li>@Html.ActionLink("Holidays", "Index", "Holidays")</li>

                <li class="divider"></li>
                <li class="nav-header">Logs</li>
                <li>@Html.ActionLink("Job Logs", "Index", "Logs")</li>
            </ul>
        </li>

    </ul>-->

    <!-- /container -->

    <div id="threshold">

        <div id="nav">
            <div id="title"><div class="logo"></div></div>
            <div id="navWrap">
                <div class="button active">
                    <div class="text">today</div>
                    <div class="lunchIcon"></div>
                </div>
                <div class="button">
                    <div class="text">history</div>
                    <div class="historyIcon"></div>
                </div>
                <div class="button">
                    <div class="text">ratings</div>
                    <div class="ratingsIcon"></div>
                </div>
                <div class="button">
                    <div class="text">stats</div>
                    <div class="statsIcon"></div>
                </div>
                <footer></footer>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>

    </div>
    
    @RenderSection("Scripts", false)

</body>
</html>
