@using System.Globalization
@model Lunch.Website.ViewModels.RestaurantType

@{
    ViewBag.Title = "Edit Restaurant Category";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Edit Restaurant Category</h1>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
    
                <div id="manageFormWrap">

                    <div class="editorField">
                        @Html.EditorFor(model => model.Id)
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>

                    <div class="formRowWrap">
                        <div class="editorLabel">
                            @Html.LabelFor(model => model.TypeName)
                        </div>
                        <div class="editorField">
                            @Html.EditorFor(model => model.TypeName)
                            @Html.ValidationMessageFor(model => model.TypeName)
                        </div>
                    </div>

                </div>
                
                @Html.ActionLink("Back to List", "Types", null, new { @class = "btn back" })
                <input type="submit" value="Save" class="btn submit" />
            }

        </div>
    </div>
</div>