@using System.Globalization
@model Lunch.Website.ViewModels.Restaurant

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    var monthFilters = from DayOfWeek n in Enum.GetValues(typeof(DayOfWeek))
                       select new SelectListItem
                       {
                           Value = ((int)n).ToString(CultureInfo.InvariantCulture),
                           Text = n.ToString()
                       };
    
    <fieldset>
        <legend>Restaurants</legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RestaurantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RestaurantName)
            @Html.ValidationMessageFor(model => model.RestaurantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreferredDayOfWeek)
        </div>
        <div class="editor-field">
            @Html.DropDownList("PreferredDayOfWeek", monthFilters, "No preference",null)
            @Html.ValidationMessageFor(model => model.PreferredDayOfWeek)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RestaurantTypeID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("RestaurantTypeID", new SelectList(ViewBag.RestaurantTypeList, "ID", "TypeName"), "--Choose--")
            @Html.ValidationMessageFor(model => model.RestaurantTypeID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
