@model IEnumerable<Lunch.Core.Models.Views.RestaurantDetails>

@{
    ViewBag.Title = "Restaurants";
}

<h2>Restaurants</h2>

<div class="btn-toolbar">
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-primary"})
    @Html.ActionLink("Import", "RestaurantImport", "Management", null, new {@class="btn"})
       @if (ViewBag.HasCategoryFilter)
    {
        @:|
        @Html.ActionLink("Show all", "index", null, new {@class="btn"})
    }
</div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredDayOfWeek)
            </td>
            <td>
                @Html.ActionLink(item.TypeName, "index", new { categoryid = item.RestaurantTypeId })
            </td>
            <td>
                <a href="@Url.Action("Edit", new { ID = item.Id })"><i class="icon-pencil"></i></a>
                <a href="@Url.Action("Delete", new { ID = item.Id })" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
            </td>
        </tr>
    }

</table>
