@model IEnumerable<Lunch.Core.Models.Views.RestaurantDetails>

@{
    ViewBag.Title = "Restaurants";
}

<div id="content" class="reports">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">
        <div class="management">

            <h1>Restaurants</h1>

            <div class="btnToolbar">
                @Html.ActionLink("Create New", "Create", null, new {@class="btn submit"})
                @Html.ActionLink("Import", "ImportSettings", "Restaurants", null, new {@class="btn submit"})
                   @if (ViewBag.HasCategoryFilter)
                {
                    @:|
                    @Html.ActionLink("Show all", "index", null, new {@class="btn submit"})
                }
            </div>

            <div id="manageFormWrap">
                @foreach (var item in Model) {
                    <div class="row">
                        <div class="column actionButton">
                            <a href="@Url.Action("Edit", new { ID = item.Id })" class="action"><i class="icon-pencil"></i></a>
                            <a href="@Url.Action("Delete", new { ID = item.Id })" role="button" data-toggle="modal" class="action"><i class="icon-trash"></i></a>
                        </div>
                        <div class="column restaurant">@Html.DisplayFor(modelItem => item.RestaurantName)</div>
                        <div class="column preferredDay">@Html.DisplayFor(modelItem => item.PreferredDayOfWeek)</div>
                        <div class="column type">
                            @if (item.RestaurantTypeId == null)
                            {
                                <span>Undefined</span>
                            } else
                            {
                                @Html.ActionLink(item.TypeName, "index", new { categoryid = item.RestaurantTypeId })
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
