@model IEnumerable<Lunch.Core.Models.Views.RestaurantDetails>

@{
    ViewBag.Title = "Restaurants";
}

<h2>Restaurants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @if (ViewBag.HasCategoryFilter)
    {
        @:|
        @Html.ActionLink("Show all", "index")
    }

   
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredDayOfWeek)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredDayOfWeek)
        </td>
        <td>
             @Html.ActionLink(item.TypeName,"index",new {categoryid=item.RestaurantTypeId})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
        </td>
    </tr>
}

</table>
