@model Lunch.Website.ViewModels.Homepage

@{
    ViewBag.Title = "Rate";
    var todayschoice = Model.WinningRestaurant;
}

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" type="text/css" rel="stylesheet"/>


<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">

            <p class="voted">Rate your experience at<br /><span class="restLabel">@todayschoice.Restaurant.RestaurantName</span></p>
            
            <div class="sliderWrap">
                <div class="sliderRating">
                    <div class="iconRating" data-tag="@Model.YourRating.Rating"></div>
                    <div class="numberRating">@Model.YourRating.Rating</div>
                </div>
                <p style="display:none;">@todayschoice.Restaurant.RestaurantName : <span class="rating">@Model.YourRating.Rating</span></p>
                <div class="sliderBarWrap">
                    <div class="slider" data-restaurantid="@todayschoice.RestaurantId" data-val="@Model.YourRating.Rating">
                        <div data-tag="sliderBar" class="value@(Model.YourRating.Rating)">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- this is overkill copied from the edit all ratings page - simplify -->
<script>
    $(document).ready(function () {
        if ($.browser.msie) {
            function interval() {
                $('.new').children().not('.secondaryText').delay(1500).animate({ marginTop: "100px" }, 1000, function () {
                    $(this).delay(500).animate({ marginTop: "20px" }, 1000);
                });
            }

            setInterval(function () {
                interval();
            }, 1500);
        }

        $('#hiddenNav').click(function () {
            $('#secondaryContent').toggle();
        });

    });

    changeIcon();

    function changeIcon() {
        if ($('.iconRating').attr('data-tag') < 5) {
            $('.iconRating').children('i').remove();
            $('.iconRating').append('<i class="icon-thumbs-down"></i>');
        } else if ($('.iconRating').attr('data-tag') == 5) {
            $('.iconRating').children('i').remove();
            $('.iconRating').append('<i class="icon-food"></i>');
        } else {
            $('.iconRating').children('i').remove();
            $('.iconRating').append('<i class="icon-thumbs-up"></i>');
        }
    }


    $('.slider').slider({
        value: 1,
        min: 0,
        max: 10,
        step: 1,
        slide: function (event, ui) {
            $(this).parent().siblings("p").find(".rating").text(ui.value);
            $(this).parent().siblings(".sliderRating").children(".numberRating").text(ui.value);
            $(this).children('[data-tag="sliderBar"]').removeClass().addClass("value" + ui.value);
            $(this).parent().siblings().children('.iconRating').attr('data-tag', + ui.value);
            changeIcon();
        },
        stop: function () {
            var model = {
                RestaurantId: $(this).data('restaurantid'),
                Rating: parseInt($(this).parent().siblings("p").find(".rating").text())
            };
            $.post('/Ratings/Save', model, function (result) {

            }, "json");
        }
    });

    $(".slider").each(function () {
        $(this).slider({
            value: parseInt($(this).data("val"))
        });
    });

</script>



