@model Lunch.Website.ViewModels.Homepage

@{
    ViewBag.Title = "Rate";
    var todayschoice = Model.RestaurantsForToday.OrderByDescending(f => f.Votes).Take(1).First();
}

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" type="text/css" rel="stylesheet"/>


<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">
            

            <p class="voted">Rate your experience at<br /><span class="restLabel">@todayschoice.Restaurant.RestaurantName</span></p>
            
            
            <div>
                <p>@todayschoice.Restaurant.RestaurantName : <span class="rating">@Model.YourRating.Rating</span></p>
                <div class="slider" data-restaurantid="@todayschoice.RestaurantId" data-val="@Model.YourRating.Rating"></div>
            </div>
            

        </div>
    </div>
</div>

<div id="secondaryContent">
    <div id="veto" class=""><div class="vetoIcon"></div><div class="secondaryText">3</div></div>
    <div id="overrides" class="empty"><div class="overridesIcon"></div><div class="secondaryText">2</div></div>
    <div id="badges" class="new"><div class="badgesIcon"></div><div class="secondaryText">3</div></div>
    <a href="@Url.Action("Manage", "Account")" id="myAccount"><i class="icon-user"></i></a>
    @if(Roles.IsUserInRole("Administrator"))
    {
        <a href="@Url.Action("Index", "Management")" id="users">
            <i class="icon-cog"></i>
        </a>
    }
</div>
<!-- this is overkill copied from the edit all ratings page - simplify -->
<script>
    $(document).ready(function () {
        if ($.browser.msie) {
            function interval() {
                $('.new').children().not('.secondaryText').delay(1500).animate({ marginTop: "100px" }, 1000, function () {
                    $(this).delay(500).animate({ marginTop: "20px" }, 1000);
                });
            }

            setInterval(function () {
                interval();
            }, 1500);
        }

        $('#hiddenNav').click(function () {
            $('#secondaryContent').toggle();
        });
    });
</script>

<script>
    $('.slider').slider({
        value: 1,
        min: 1,
        max: 10,
        step: 1,
        slide: function (event, ui) {
            $(this).siblings("p").find(".rating").text(ui.value);
        },
        stop: function () {
            var model = {
                RestaurantId: $(this).data('restaurantid'),
                Rating: parseInt($(this).siblings("p").find(".rating").text())
            };
            $.post('/Ratings/Save', model, function (result) {

            }, "json");
        }
    });

    $(".slider").each(function () {
        $(this).slider({
            value: parseInt($(this).data("val"))
        });
    });

</script>



