@model Lunch.Website.ViewModels.Homepage

@using System.Collections
@using System.Security.Cryptography
@using System.Text
@{
    ViewBag.Title = "Index";
}

@*@if (Model.YourVote != null)
{
    <p>You already voted for @Model.YourVote.Restaurant.RestaurantName but you have a veto that we didn't implement</p>
}*@

<style>
    .inactive {
        background: grey !important;
    }
</style>

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">
            
            <div class="usersWrap">
                @foreach (var voter in Model.PeopleWhoVotedToday)
                {
                    <img title="@voter.FullNameWithEmail" src="http://www.gravatar.com/avatar/@Html.Md5Hash(voter.Email)?s=200" />
                }
                <p>@Model.PeopleWhoVotedToday.Count picks</p>
            </div>
            
            <p class="voted">You already voted for <span class="restLabel">@Model.YourVote.Restaurant.RestaurantName</span> but you have a veto</p>
            
            
            <div class="listingWrap">
                
                @foreach (var restaurant in Model.RestaurantsForToday.OrderByDescending(f => f.Votes).Take(2))
                {
                    <a href="/Home/SaveVeto" class="listing @((restaurant.Selected == 1) ? "" : "inactive")"><p>@restaurant.Restaurant.RestaurantName</p></a>
                }
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        if ($.browser.msie) {
            function interval() {
                $('.new').children().not('.secondaryText').delay(1500).animate({ marginTop: "100px" }, 1000, function () {
                    $(this).delay(500).animate({ marginTop: "20px" }, 1000);
                });
            }

            setInterval(function () {
                interval();
            }, 1500);
        }

        $('#hiddenNav').click(function () {
            $('#secondaryContent').toggle();
        });
        

    });
</script>

