@model Lunch.Website.ViewModels.Homepage

@using System.Collections
@using System.Security.Cryptography
@using System.Text
@{
    ViewBag.Title = "Index";
}

@*@if (Model.YourVote != null)
{
    <p>You already voted for @Model.YourVote.Restaurant.RestaurantName but you have a veto that we didn't implement</p>
}*@

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">
            
            <div class="usersWrap">
                @foreach (var voter in Model.PeopleWhoVotedToday)
                {
                    <img title="@voter.FullNameWithEmail" src="http://www.gravatar.com/avatar/@Html.Md5Hash(voter.Email)?s=200" />
                }
                <p>@Model.PeopleWhoVotedToday.Count picks</p>
            </div>
            
            <p class="voted">The winning restaurant is<br /><span class="restLabel">@Model.YourVote.Restaurant.RestaurantName</span></p>
            
            
            <div class="listingWrap">
                <p class="vetoLabel">Would you like to veto this and go to</p>
                @foreach (var restaurant in Model.RestaurantsForToday.OrderBy(f => f.Votes).Take(1))
                {
                    <a href="/Home/SaveVeto" class="veto @((restaurant.Selected == 1) ? "" : "inactive")"><i class="icon-remove"></i>@restaurant.Restaurant.RestaurantName</a>
                }
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        if ($.browser.msie) {
            function interval() {
                $('.new').children().not('.secondaryText').delay(1500).animate({ marginTop: "100px" }, 1000, function () {
                    $(this).delay(500).animate({ marginTop: "20px" }, 1000);
                });
            }

            setInterval(function () {
                interval();
            }, 1500);
        }

        $('#hiddenNav').click(function () {
            $('#secondaryContent').toggle();
        });
        

    });
</script>

