@model Lunch.Website.ViewModels.Homepage

@using System.Collections
@using System.Security.Cryptography
@using System.Text
@{
    ViewBag.Title = "Index";
}

@if (Model.YourVote != null)
{
    <p>You already voted for @Model.YourVote.Restaurant.RestaurantName but you have a veto that we didn't implement</p>
}

<div id="content">
    <div class="bgOne"></div>
    <div class="mask"></div>
    <div id="info">

        <div class="primary">
            
            <div class="usersWrap">
                @foreach (var voter in Model.PeopleWhoVotedToday)
                {
                    <img title="@voter.FullNameWithEmail" src="http://www.gravatar.com/avatar/@Html.Md5Hash(voter.Email)?s=200" />
                }
                <p>@Model.PeopleWhoVotedToday.Count picks</p>
            </div>
            
            <p class="titleLabel">Where would you like to eat?</p>

            <div class="listingWrap">
                
                @foreach (var restaurant in Model.RestaurantsForToday)
                {
                    <a href="/Home/SaveVote/@restaurant.Restaurant.Id" class="listing"><p>@restaurant.Restaurant.RestaurantName</p></a>
                }
            </div>

        </div>

    </div>
</div>

<div id="secondaryContent">
    <div id="veto" class=""><div class="vetoIcon"></div><div class="secondaryText">3</div></div>
    <div id="overrides" class="empty"><div class="overridesIcon"></div><div class="secondaryText">2</div></div>
    <div id="badges" class="new"><div class="badgesIcon"></div><div class="secondaryText">3</div></div>
    <a href="@Url.Action("Manage", "Account")" id="myAccount"><i class="icon-user"></i></a>
    @if(Roles.IsUserInRole("Administrator"))
    {
        <a href="@Url.Action("Index", "Management")" id="users">
            <i class="icon-cog"></i>
        </a>
    }
</div>

<script>
    $(document).ready(function () {
        if ($.browser.msie) {
            function interval() {
                $('.new').children().not('.secondaryText').delay(1500).animate({ marginTop: "100px" }, 1000, function () {
                    $(this).delay(500).animate({ marginTop: "20px" }, 1000);
                });
            }

            setInterval(function () {
                interval();
            }, 1500);
        }

        $('#hiddenNav').click(function () {
            $('#secondaryContent').toggle();
        });
    });
</script>

